# Liste des musées de France

initialisation

In [51]:
import pandas as pd
musee = pd.read_csv("liste-des-musees-de-france-2021.csv", encoding='latin-1', sep=";")

musee

,osm_id,name,number,street,postal_code,city,country,country_code,lat,lon,website,email,phone,fax,tags,description,date_added,wikidata
0,4540234591,3 bis f,109,Avenue du Petit Barthélémy,13617.0,Aix-en-Provence,France,fr,43.521207,5.439875,http://www.3bisf.com,contact@3bisf.com,3.344216e+10,NaN,osm:museum;art:art contemporain,NaN,"44116,0076388889",NaN
1,4388745689,A casa di Losari,NaN,T 30,20226.0,Belgodère,France,fr,42.638732,9.007660,NaN,NaN,NaN,NaN,osm:museum,NaN,"43338,9393981481",NaN
2,4426176194,À l'homme volant,35,Grande Rue,72300.0,Sablé-sur-Sarthe,France,fr,47.839656,-0.334043,NaN,NaN,3.324395e+10,NaN,osm:museum;type:centre d'interpretation,NaN,"42644,4636574074",NaN
3,7652598615,Abbadiale - Maison des arts,NaN,Rue du Gabizos,65400.0,Arras-en-Lavedan,France,fr,42.990826,-0.128057,https://www.abbadiale.fr/,NaN,3.363317e+10,NaN,osm:museum,NaN,"44120,0466782407",NaN
4,121580330,Abbaye,NaN,Rue de l'Abbaye,39210.0,Château-Chalon,France,fr,46.753866,5.624296,NaN,NaN,NaN,NaN,osm:museum;art:architecture,NaN,"43102,5491898148",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3779,1348524503,Vivarium du Moulin,NaN,Rue Principale,68610.0,Thann-Guebwiller,France,fr,47.942258,7.149613,NaN,NaN,NaN,NaN,osm:museum,NaN,"40747,8717476852",NaN
3780,577287841,Voyage au Temps des impressionnistes,NaN,Rue de Léry,95430.0,Auvers-sur-Oise,France,fr,49.072057,2.166167,NaN,NaN,NaN,NaN,osm:museum,NaN,"41141,7272222222",NaN
3781,145062184,Wines and Spirits Museum,NaN,Corniche Bonaparte,83150.0,Bandol,France,fr,43.128031,5.749484,NaN,NaN,NaN,NaN,osm:museum,NaN,"42367,7135069444",NaN
3782,82988725,Xanxotea,NaN,La Place,64240.0,Isturits,France,fr,43.364834,-1.203580,http://www.xanxotea.com/,NaN,NaN,NaN,osm:museum,Musée ethnographique Xanxotea pour découvrir l...,"44129,580775463",NaN
3783,277107550,Xylotheque - Kiosque Pedagogique,NaN,Impasse de la Haie Vive,45590.0,Saint-Cyr-en-Val,France,fr,47.825888,1.967795,NaN,NaN,NaN,NaN,osm:museum,NaN,"43331,4758449074",NaN

## Répondre aux questions du manager

1. Combien y-a-t-il de musées en France métropolitaine ?

In [127]:
print("Il y a",len(musee), "musées en France métropolitaine.")

Il y a 3784 musées en France métropolitaine.

2. Dans quelle(s) ville(s) y a-t-il de plus de musées ?

In [261]:
print("La ville dans laquelle il y a le plus de musées est",musee['city'].value_counts().idxmax())

La ville dans laquelle il y a le plus de musées est Paris

3. Quel est le nombre moyen de musées par ville ?

In [262]:
print("Le nombre moyen de musées par ville est",musee['city'].value_counts().mean())

Le nombre moyen de musées par ville est 1.647930283224401

4. Quel est le nombre médian de musées par ville ?

In [263]:
print("Le nombre médian de musées par ville est",musee['city'].value_counts().median())

Le nombre médian de musées par ville est 1.0

5. Comment sont répartis les musées par type (en pourcentage) ?

In [284]:
percentage = musee['tags'].value_counts(normalize=True)
(percentage * 100).to_frame().head()

                                                    tags
osm:museum                                     57.509254
osm:museum;type:ecomusee                       10.232681
osm:museum;type:musee technique et industriel   5.129561
osm:museum;type:musee d'histoire                3.490217
osm:museum;art:architecture                     3.199365

6. Combien y-a-t-il de musées dont le nom commence par "Château" ?

In [285]:
print("Il y a", len(musee.loc[musee["name"].str.startswith("Château")]), "musées dont le nom commence par le mot château.")

Il y a 57 musées dont le nom commence par le mot château.

7. Pour combien de musées dispose-t-on de l'adresse du site web ?

In [359]:
print("Ce fichier contient le site web de", len(musee.website.dropna()), "musées.")

Ce fichier contient le site web de 1636 musées.

8. Quel département français possède le plus de musées sur son territoire ?

In [374]:
departement = musee['postal_code'].dropna()
departement = departement.astype(int).astype(str).str.slice(stop=2)

print("Le départment ayant le plus de musée est le", departement.value_counts().idxmax(),".")

Le départment ayant le plus de musée est le 75 .

9. Quel département français possède le moins de musées sur son territoire ?

In [377]:
print("Le départment ayant le moins de musée est le",  departement.value_counts().idxmin(),".")

Le départment ayant le moins de musée est le 98 .

10. Combien de musées ont "Napoléon" dans leur nom ?

In [378]:
print("Il y a", len(musee[musee["name"].str.contains("Napoléon")]), "musées comprenant 'Napoléon' dans leur nom.")

Il y a 4 musées comprenant 'Napoléon' dans leur nom.

https://www.data.gouv.fr/fr/datasets/frequentation-des-musees-de-france/
Dataset data.gouv sur la fréquentation des musées
Utile pour savoir quelle est l'attractivité des musées et voir quels sont les plus visités dans chaque catégorie, dans chaque département, dans chaque arrondissement, etc.
https://www.data.gouv.fr/fr/datasets/culturecheznous/
Dataset data.gouv recensant les institutions culturelles proposant des ressources en ligne. Joindre ce dataset permettrait de voir quels sont les musées qui proposent du contenu sur Internet, dans quels départements, quels types de musées, quel est le pourcentage de musées proposant du contenu en ligne, etc.